arrow==0.14.2
binaryornot==0.4.4
certifi==2022.12.07
chardet==3.0.4
Click==7.0
Django==2.2.*
future==0.18.3
gunicorn==20.0.4
idna==2.8
Jinja2==2.11.3
jinja2-time==0.2.0
MarkupSafe==1.1.1
poyo==0.4.2
psycopg2-binary
python-dateutil==2.8.0
pytz==2019.1
requests==2.31.0
six==1.12.0
sqlparse==0.4.*
urllib3==1.26.*
whichcraft==0.5.2
djangorestframework==3.11.2
django-cors-headers==3.2.0
boto3==1.26.*
